.info-btn {
  border: none;
  background-color:transparent;

  &:focus {
    outline:none;
  }

  i {
    font-size:4rem;
    background: linear-gradient(45deg, #6f15dc, #16e018);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 2s ease infinite;
  }
}

.instructions {
  white-space:normal;
  text-align:left;
  padding-left:2rem;
  margin:0 20vw;

  @media (max-width: 768px) {
    margin: 0 0vw;
    padding-left: 1rem;
    font-size: 1rem;
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 100%; }
}
.rotated {
  transform: rotate(90deg);
}